node_modules

/.cache
/.wrangler
/build
/public/build
.env
.dev.vars

/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env.*
package-lock.json
yarn.lock
